<form novalidate autocomplete="off" #form="ngForm" (ngSubmit)="onSubmit(form)">
  <div class="from-group mb-3">
    <label for="fullName" class="form-label">Full Name</label>
    <input
      type="text"
      class="form-control"
      id="fullName"
      name="fullName"
      ngModel
      #fullName="ngModel"
      required
    />
    <p
      class="form-text text-danger"
      *ngIf="fullName.touched && fullName.hasError('required')"
    >
      Required
    </p>
  </div>

  <div class="from-group mb-3">
    <label for="age" class="form-label">Age</label>
    <input
      type="number"
      class="form-control"
      id="age"
      step="1"
      name="age"
      ngModel
      #age="ngModel"
      required
      min="18"
    />
    <p
      class="form-text text-danger"
      *ngIf="age.touched && age.hasError('required')"
    >
      Required
    </p>
    <p class="form-text text-danger" *ngIf="age.touched && age.hasError('min')">
      Minimum age is {{ age.errors && age.errors["min"]?.min }}
    </p>
  </div>

  <div class="form-check mb-3">
    <input
      class="form-check-input"
      type="checkbox"
      value=""
      id="newsletter"
      name="newsletter"
      ngModel
    />
    <label class="form-check-label" for="newsletter"> Newsletter </label>
  </div>

  <div class="from-group mb-3">
    <label for="language" class="form-label">Language</label>
    <select class="form-select" id="language" name="language" ngModel>
      <option value="en">English</option>
      <option value="fr">French</option>
      <option value="de">German</option>
    </select>
  </div>

  <div class="from-group mb-3">
    <label class="form-label">Rating</label>
    <div class="form-check">
      <input
        class="form-check-input"
        type="radio"
        name="rating"
        id="good"
        value="good"
        ngModel
      />
      <label class="form-check-label" for="good"> Good </label>
    </div>
    <div class="form-check">
      <input
        class="form-check-input"
        type="radio"
        name="rating"
        id="okay"
        value="okay"
        ngModel
      />
      <label class="form-check-label" for="okay"> Okay </label>
    </div>
    <div class="form-check">
      <input
        class="form-check-input"
        type="radio"
        name="rating"
        id="should-improve"
        value="shouldImprove"
        ngModel
      />
      <label class="form-check-label" for="should-improve">
        Should improve
      </label>
    </div>
  </div>

  <div class="form-group mb-3">
    <label for="comments" class="form-label">Comments</label>
    <textarea
      class="form-control"
      id="comments"
      rows="3"
      name="comments"
      ngModel
      #comments="ngModel"
      minlength="10"
    ></textarea>
  </div>

  <button class="btn btn-primary btn-sm">Submit</button>
</form>
